body * {
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 3%;
}

.navbar {
    background-color: #f3ca40;
}

.app {
    display: flex;
    flex-direction: column;
}

.display{
    width: 480px;
    height: 320px;
    margin-right: 10px;
    border: 1px solid black;
}

.memo, .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}

.memo-2, .search-2 {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.memo-2 *, .search-2 * {
    margin: 5%;
}

.footer {
    background-color: #f3ca40;
    text-align: right;
    padding: 30px;
}