body * {
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 2%;
    color: black;
}

.header p {
    margin-top: 5px;
    padding-left: 5px;
}
.navbar {
    background-color: #DFEEE7;
    padding-left: 25px;
}

.app {
    display: flex;
    flex-direction: column;
}

.display{
    width: 480px;
    height: 320px;
    border: 1px solid black;
    background-color: white;
}

/* .memo, .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5%;
} */

.memo-bg {
    background-image: url("images/pablo-merchan-montes-Orz90t6o0e4-unsplash-1350x900.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
}

.memo-1, .memo-2, .memo-3 {
    margin: 5%;
    color: white;
}


.memo-1 {
    width: 30%;
    text-align: justify;
    align-items: center;
}


.memo-2 {
    width: 30%;
    color: black;
}


.memo-3 {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.memo-3 *{
    margin: 3px;
}



.search-base {
    background-image: url("images/imrs.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.search-1, .search-2, .search-3 {
    margin: 5%;
    color: white;
}


.search-1 {
    width: 30%;
    text-align: justify;
    align-items: center;
}

.search-2 {
    width: 30%;
    color: black;
    text-align: center;
}

.search-3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-3 *{
    margin: 3px;
}

.footer {
    background-color: #DFEEE7;
    text-align: right;
    padding: 30px;
}


.input {
    width: 200px;
}

.btn {
    width: 150px;
}



@media (max-width:700px) {
    .header, .navbar {
        display: flex;
        justify-content: center;
    }
    .memo-bg {
        display: flex;
        flex-direction: column;
        height: 50%;
    }
    
    .search-base {
        display: flex;
        flex-direction: column;
        height: 50%;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}